<section class="about">
  <!--
  <div class="section-title">
    <h2>About</h2>
  </div>
  -->

  <p>
  I am a Ph.D. student in Electrical and Computer Engineering at <a
    class="styled-link" href="https://ece.snu.ac.kr/en"> Seoul National
    University</a>. I am a member of <a class="styled-link"
    href="https://github.com/snu-comparch">Computer Architecture and Systems
    Lab (snu-comparch)</a>, advised by<a class="styled-link"
    href="https://jaewoong.org"> Prof. Jaewoong Sim</a>.
  </p>

  <p>
  My research interests are in <strong>computer architecture</strong> and
  <strong>the architectural support for emerging workloads</strong>,
  particularly <strong>vision/graphics tasks</strong> such as neural rendering.
  </p>

  <p>
  I received my B.S. degree from Seoul National University (2022).
  </p>
</section>
