<header class="header-container">
  <div class="header-content">
    <h2>Junseo Lee</h2>
    <p class="header-info">Ph.D. Student</p>
    <p class="header-info"><a class="styled-link" href="https://ece.snu.ac.kr/en">Electrical and Computer Engineering</a></p>
    <p class="header-info"><a class="styled-link" href="https://en.snu.ac.kr">Seoul National University</a></p>
    <p class="header-email">Email: junseo.lee [at] snu.ac.kr</p>
    <div class="header-links">
      <a class="btn btn-outline-primary" href="https://scholar.google.com/citations?user=f2Bx8o8AAAAJ&hl=en">
        <img src="/assets/images/icons/google_scholar.png" alt="Google Scholar"> Google Scholar
      </a>
      <a class="btn btn-outline-primary" href="https://www.github.com/junseo013">
        <img src="/assets/images/icons/github.png" alt="Github"> Github
      </a>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/junseo-lee-144795301">
        <img src="/assets/images/icons/linkedin.png" alt="LinkedIn"> LinkedIn
      </a>
      <a class="btn btn-outline-primary" href="/assets/cv/cv-junseolee.pdf">
        <img src="/assets/images/icons/cv.png" alt="CV"> CV
      </a>
    </div>
  </div>
  <div class="header-image">
    <img src="assets/images/photo/junseo_canyon.jpg" alt="Junseo Lee">
  </div>
</header>
