<header class="header-container">
  <div align="left">
    <h2>Junseo Lee</h2>
      <p>Ph.D. Student</p>
      <p><a class="styled-link" href="https://ece.snu.ac.kr/en">Electrical and Computer Engineering</a></p>
      <p><a class="styled-link" href="https://en.snu.ac.kr">Seoul National University</a></p>
      <br>
      <p>Email: <a class="styled-link" href="mailto:junseo.lee@snu.ac.kr">junseo.lee@snu.ac.kr</a></p>
      <p>
      <a 
      <a class="btn btn-outline-primary" href="https://scholar.google.com/citations?user=f2Bx8o8AAAAJ&hl=en">
        <img src="/assets/images/icons/google_scholar.png" alt="Google Scholar"> Google Scholar
      </a>
      <!-- <a class="styled-link" href="https://orcid.org/0009-0009-4953-1383">ORCID</a> | -->
      <a class="btn btn-outline-primary" href="https://www.github.com/junseo013">
        <img src="/assets/images/icons/github.png" alt="Github"> Github
      </a>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/junseo-lee-144795301">
        <img src="/assets/images/icons/linkedin.png" alt="LinkedIn"> LinkedIn
      </a>
      <a class="btn btn-outline-primary" href="/assets/cv/cv-junseolee.pdf">
        <img src="/assets/images/icons/cv.png" alt="CV"> CV
      </a>
      </p>
  </div>
  <div class="header-image">
    <img src="assets/images/photo/junseo.jpg" alt="Junseo Lee">
  </div>
</header>
